-rdm3.Rhistory
.Rhistory
.Rproj.user
.RData
.Ruserdata
all_editors_2021.csv
editors-from-africa.csv
editors-from-africa.png
editors-from-africa-aggregate.csv
scrape2022.xlsx
Data/
Output/editors.csv
Output/2022-Springer-Links/
Output/2022-Wiley-Links/
Script/africa-skupien.R
Script/analyse-countries.R
Script/descriptive-statistics.R